@charset "UTF-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* font-family: 'Hana B'; */

/* layout */
#wrap{}
#wrap #header{background-color: #fff;}
#banner{
	height: 470px;
	background-color: #a0d1ee; 
}
#contents{}
#footer{}

/* contents layout */
#cont1{height: 940px; background-color: #f5f6f8;}
#cont2{height: 555px; background-color: #efefef;}


/* footer layout */
#footer_notice{
	height: 71px; line-height: 71px;
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
}
#footer_info{
	height: 242px;
	background: #f7f8f9;
}


/* container */
.container{
	position: relative;
	width: 1200px; margin: 0 auto;
}

.clearfix::after{content: ""; clear: both; display: block;}

/* header */
.header{font-family: 'Hana B';}
.header li{
	margin: 7px 0;
	background: url(../img/bar1.gif) no-repeat 0px 8px; 
}
.header li a{
	font-size: 13px;
	display: block;
	padding: 8px 15px;
}

.header .list1{float: left;}
.header .list1 li{float: left;}
.header .list1 li:nth-child(2){background: none;}
.header .list1 li.green{}
.header .list1 li.green a{
	background: #00907f;
	color: #fff;
	border-radius: 3px;
}

.header .list2{
	float: right;
}
.header .list2 li{float: left;}
.header .list2 li a{color: #797979;}
.header .list2 li:last-child a{
	padding-right: 0;
}
.header .list2 li.logo{
	margin: 11px 13px 11px 0px;
}
.header .list2 li.logo a{
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px 10px;
}


/* banner */
.ban_left{}
.ban_left .ob{position: absolute;}
.ban_left .ob1/* 구름1 */{
	left: 151px; top: 161px;
	animation: cloud 3s .3s linear infinite;
	/* linear = 균등하게 */
}
.ban_left .ob2/* 구름2 */{
	top: 133px; left: 217px;
	animation: cloud 3s .6s linear infinite;
}
.ban_left .ob3/* 달력 */{
	left: 208px; top: 78px;
	animation: down .5s .5s both;

	/* animation-fill-mode: both; --> delay가 주어졌을 때 시작지점이 애니메이션의 0%지점에서 시작 */
	/* forwards: 애니메이션이 끝난 상태로 유지됨
	backwards : 애니메이션 끝난 후 다시 시작 지점으로 돌아옴
	both : forwards, backwards 둘 다 적용 */
}
.ban_left .ob4/* 쇼핑할땐 */{
	left: 250px; top: 112px;
	animation: left .5s .7s both;
}
.ban_left .ob5/* 타이틀 */{
	left: 250px; top: 140px;
	animation: left .5s .9s both;
}
.ban_left .ob6/* 1 */{
	left: 264px; top: 213px;
	animation: down-long .5s .7s both;
}
.ban_left .ob7/* 1 */{
	left: 320px; top: 213px;
	animation: down-long .5s .9s both;
}
.ban_left .ob8/* 파라솔 */{
	left: 433px; top: 302px;
	animation: slash .3s 2.8s both;
}
.ban_left .ob9/* 수트케이스 */{
	left: 355px; top: 317px;
	animation: down-short .3s 2.7s both;
}
.ban_left .ob10/* 자동차 */{
	left: 220px; top: 343px;
	animation: car .6s 1.8s both;
}
.ban_left .ob11/* 선물 */{
	left: 376px; top: 268px;
	animation: down-short .3s 2.9s both;
}
.ban_left .ob12/* 박스 */{
	left: 360px; top: 284px;
	animation: down-short .3s 3s both;
}
.ban_left .ob13/* 가방 */{
	left: 415px; top: 274px;
	animation: down-short .3s 3.2s both;
}
.ban_left .ob14/* 바람1 */{
	left: 501px; top: 370px;
	animation: scale 2s 3.4s infinite both;
	transform-origin: left top;
}
.ban_left .ob15/* 바람2 */{
	left: 501px; top: 370px;
	animation: scale 2s 3.3s infinite both;
	transform-origin: left top;
}
.ban_left .ob16/* 원 */{
	left: 485px; top: 119px;
	animation: rotate 3s linear infinite;
}
.ban_left .ob17/* 말풍선 */{
	left: 378px; top: 189px;
	animation: scale 3s 4s both;
	transform-origin: left center;
}

@keyframes cloud{
	0%{transform: translateX(-10px);}
	25%{transform: translateX(0px);}
	50%{transform: translateX(10px);}
	75%{transform: translateX(0px);}
	100%{transform: translateX(-10px);}
}
@keyframes down{
	0%{transform: translateY(-300px); opacity: 0;}
	100%{transform: translateY(0px); opacity: 1;}
}
@keyframes down-short{
	0%{transform: translateY(-100px); opacity: 0;}
	100%{transform: translateY(0px); opacity: 1;}
}
@keyframes down-long{
	0%{transform: translateY(-500px); opacity: 0;}
	50%{transform: translateY(30px); opacity: 1;}
	100%{transform: translateY(0px); opacity: 1;}
}
@keyframes left{
	0%{transform: translateX(500px); opacity: 0;}
	100%{transform: translateX(0px); opacity: 1;}
}
@keyframes slash{
	0%{transform: translate(110px, -100px); opacity: 0;}
	100%{transform: translate(0px, 0px); opacity: 1;}
}
@keyframes car{
	0%{transform: translateX(500px); opacity: 0;}
  85%{transform: translateX(-180px); opacity: 1;}
  100%{transform: translateX(0px); opacity: 1;}
}
@keyframes scale{
	0%{transform: scale(0); opacity: 0;}
	10%{transform: scale(1); opacity: 1;}
	100%{transform: scale(1); opacity: 1;}
}
@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(359deg);}
}

.ban_right{
	position: absolute;
	width: 600px; right: 0; top: 50px;
}
.ban_right .br_tt{
	background: #fff; height: 160px;
	padding: 45px 0 60px 100px;
}
.ban_right .br_tt h3{
	font-size: 36px; font-weight: 700;
	line-height: 44px;
	letter-spacing: -1px;
}
.ban_right .br_tt p{
	font-size: 14px;
	padding-top: 50px;
	position: relative;
}
.ban_right .br_tt p::after{
	content: "";
	position: absolute;
	width: 30px; height: 2px;
	background: #00907f;
	top: 24px; left: 0;
}
.ban_right .br_tt p strong{
	color: #00907f;
}

.ban_right .login_btn{
	position: absolute;
	right: 60px; top: 55px;
}
.ban_right .login_btn ul{}
.ban_right .login_btn ul li{}
.ban_right .login_btn ul li a{
	display: block;
	width: 80px; height: 80px; 
	color: #fff;
	text-align: center; font-size: 14px;	
}
.ban_right .login_btn ul li.lb1{
	margin-bottom: 1px;
}
.ban_right .login_btn ul li.lb1 a{
	background: #db3360 url(../img/ico_login.png)no-repeat center 18px;
	padding-top: 50px;
	box-sizing: border-box;
	transition: .3s;
}
.ban_right .login_btn ul li.lb1 a:hover{
	background-color: #c4204c;
}
.ban_right .login_btn ul li.lb2{}
.ban_right .login_btn ul li.lb2 a{
	background: #333;
	line-height: 80px;
	transition: .3s;
}
.ban_right .login_btn ul li.lb2 a:hover{
	background: #3c3f44;
}

.ban_right .br_btn{
	background-color: #00907f;
	height: 50px;
	margin-top: 25px;
}
.ban_right .br_btn ul{}
.ban_right .br_btn ul li{
	position: relative; float: left;
	width: 25%; text-align: center;
	font-size: 14px; line-height: 50px;
}
.ban_right .br_btn ul li::before{
	content: "";
	position: absolute;
	left: 0; top: 18px; width: 1px; height: 14px;
	background-color: #62bdb1;
}
.ban_right .br_btn ul li:first-child::before{
	width: 0; height: 0;
}
.ban_right .br_btn ul li a{
	color: #fff;
}

/* nav */
#nav{
	position: absolute;
	left: 0; top: -50px; width: 100%;
	background: #fff;
	font-family: 'Hana B';
	border-bottom: 1px solid #e6e6e6; /* 그림자효과 */
	padding: 30px 0;
}
#nav .gnb{padding-left: 60px;}
#nav .gnb li{
	display: inline;
	padding: 10px;
}
#nav .gnb li a{
	display: inline-block;
	padding: 10px 16px; font-size: 17px;
}
#nav .gnb li a:hover{
	background: #00907f; color: #fff;
	border-radius: 3px;
}

#nav .gnb_right{
	position: absolute;
	right: 50px; top: 30px;
}
#nav .gnb_right li{
	float: left;
}
#nav .gnb_right li a{
	display: block;
	padding: 11px 20px; font-size: 14px;
}
#nav .gnb_right li.gr1{
	margin-right: 10px;
}
#nav .gnb_right li.gr1 a{
	border: 1px solid #e1e1e1;
	border-radius: 3px; transition: .3s;
}
#nav .gnb_right li.gr1 a:hover{
	background: #f4f4f4; color: #000;
}

#nav .gnb_right li.gr2{}
#nav .gnb_right li.gr2 a{
	background: #404b57; color: #fff;
	border-radius: 3px; transition: .3s;
}
#nav .gnb_right li.gr2 a:hover{background: #000;}

#nav .gnb_search{
	position: absolute;
	width: 50px; height: 50px; right: 290px; top: 23px;
	background: url(../img/gnb_search.png)no-repeat;
}

#nav .gnb_event{
	position: absolute;
	top: -35px; left: 20px;
	background: #3c3f44; color: #fff;
	text-transform: uppercase; font-size: 14px;
	padding: 3px 23px 2px;
	line-height: 30px;
}
#nav .gnb_event i{padding-left: 10px;}


/* card */
#card{
	padding-top: 60px;
}
#card .card_img{
	float: left;
	width: 50%; height: 285px;
	background: #fff;
}
#card .card_desc{
	float: left;
	width: 50%; height: 285px;
	background: #eaebef;
}

/* card_img */
.card_img{
	position: relative;
	box-sizing: border-box;
	padding: 18px 47px 0;
}
.card_img h4{
	font-size: 18px; color: #000;
	margin-bottom: 11px;
}
.card_img .card_banner{}
.card_img .card_banner ul{}
.card_img .card_banner ul li{
	float: left; width: 146px;
	margin-left: 30px; text-align: center;
}
.card_img .card_banner ul li:first-child{
	margin-left: 0;
}
.card_img .card_banner ul li a{}
.card_img .card_banner ul li a img{width: 100%;}
.card_img .card_banner ul li a em{
	display: block; font-size: 14px;
	padding-top: 8px;
}

.card_img .card_link{margin-top: 30px;}
.card_img .card_link ul{}
.card_img .card_link ul li{
	float: left;
	margin-left: 10px;
}
.card_img .card_link ul li:first-child{
	margin-left: 0;
}
.card_img .card_link ul li a{
	display: block; border: 1px solid #e8e8e8;
	font-size: 15px;
	padding: 10px 11px;
	transition: .3s;
}
.card_img .card_link ul li a:hover{
	border-color: #666; color: #00907f;
}
.card_img .cardmore_btn{
	position: absolute;
	right: -40px; top: 64px; width: 40px; height: 151px;
	left: auto; /* ir의 left:0 영향 받는 것을 막음 */
	background: url(../img/btn_card_v01.png)no-repeat;
}


/* card_desc */
.card_desc{
	text-align: center;
	padding-top: 50px; box-sizing: border-box;
}
.card_desc dl{}
.card_desc dl dt{
	font-size: 15px; color: #777;
	font-weight: 500;
}
.card_desc dl dd{}
.card_desc dl dd.cd1{
	font-size: 23px; margin: 26px 0 45px;
}
.card_desc dl dd.cd1::before,
.card_desc dl dd.cd1::after{
	content: '"'; color: #00907f;

}
.card_desc dl dd.cd2{}
.card_desc dl dd.cd2 ul{}
.card_desc dl dd.cd2 ul li{display: inline;}
.card_desc dl dd.cd2 ul li a{
	display: inline-block; padding: 8px 30px;
	border: 1px solid #fff;
	background: #fff;
	transition: .3s;
}
.card_desc dl dd.cd2 ul li a:hover{
	border-color: #bbb;
}


/* event */
#event{
	text-align: center; color: #fff;
	margin-top: 10px;
}
#event>div{float: left;}

/* evant_box1 */
.event_box1{}
.event_box1 .eb_desc{font-size: 16px; font-weight: 300;}
.event_box1 .eb_tt{font-size: 20px;}

.event_box1>div{
	width: 300px; height: 188px;
	padding-top: 110px; box-sizing: border-box;
}
.event_box1 .eb_banner1{background: #01937f url(../img/event_icon1.png)no-repeat center top 25px;}
.event_box1 .eb_banner2{background: #766e9c url(../img/event_icon2.png)no-repeat center top 25px;}
.event_box1 .eb_banner3{background: #43587d url(../img/event_icon3.png)no-repeat center top 25px;}

/* evant_box2 */
.evant_box2{}
.eb_banner4{
	position: relative;
	width: 600px; height: 376px; background: #fff; text-align: left;
}
.eb_banner4 .eb_icon{
	position: absolute; left: 60px; top: 60px;
	z-index: 50;
}
.eb_banner4 .eb_icon ul{}
.eb_banner4 .eb_icon ul li{float: left;}
.eb_banner4 .eb_icon ul li a{
	display: block; font-size: 13px;
	padding: 3px 12px;
}
.eb_banner4 .eb_icon ul li.ei1{margin-right: 8px;}
.eb_banner4 .eb_icon ul li.ei1 a{
	background: #00907f; color: #fff;
	border: 1px solid #00907f; border-radius: 3px;text-transform: uppercase;
	transition: .3s;
}
.eb_banner4 .eb_icon ul li.ei1 a:hover{
	background-color: #007668;
	border-color: #007668;
}
.eb_banner4 .eb_icon ul li.ei2 a{
	border: 1px solid #ccc; border-radius: 3px;
	transition: .3s;
}
.eb_banner4 .eb_icon ul li.ei2 a:hover{
	border-color: #000; color: #000;
}


/* eb_slider_list */
.eb_slider_list{
	position: relative;
}
.eb_slider_list .slick-dots{
	position: absolute;
	right: 50px; top: 50px;
}
.eb_slider_list .slick-dots li{
	display: inline; margin-right: 8px;
}
.eb_slider_list .slick-dots li button{
	font-size: 0; line-height: 0;
	border: none; width: 8px; height: 8px;
	background: rgba(0, 0, 0, .3);
	border-radius: 50%; cursor: pointer;
	transition: .3s;
}
.eb_slider_list .slick-dots li.slick-active button{
	background: #d75e7e;
}
.eb_slider_list .slick-dots li:hover button{
	background: #00907f;
	transform: scale(1.3);
}


/* slick 재생/정지버튼 */
.eb_slider{position: relative;}
.eb_slider .pagn_act{
	position: absolute;
	top: 65px; right: 145px; 
	font-size: 0;
}
.eb_slider .pagn_act .btn_stop{
	display: none;
	width: 8px; height: 8px;
	background: url(../img/btn_banner_stop.png)no-repeat center;
}
.eb_slider .pagn_act.on .btn_stop{display: block;}
.eb_slider .pagn_act .btn_play{
	display: block;
	width: 8px; height: 8px;
	background: url(../img/btn_banner_play.png)no-repeat center;
}
.eb_slider .pagn_act.on .btn_play{display: none;}


/* eb_banner5 */
.eb_banner5{
	position: relative;
	width: 600px; height: 188px;
	background: #8cc7e9 url(../img/event_icon4.png)no-repeat 153px 72px;
}
.eb_banner5 h4{
	position: absolute; 
	left: 60px; top: 95px; 
	font-family: 'Hana B'; font-size: 20px; color: #000;
}
.eb_banner5 ul.money{
	padding-top: 50px;
	margin: 0 50px 0 260px;
}
.eb_banner5 ul.money li{
	float: left;
	margin-right: 8px; margin-bottom: 8px;
}
.eb_banner5 ul.money li a{
	display: block; background: #fff;
	font-size: 14px; border-radius: 3px;
	width: 134px; text-align: center;
	padding: 9px 10px;
}
.eb_banner5 ul.money li.w100 a{width: 100px;}
.eb_banner5 .point{
	position: absolute;
	left: 60px; top: 55px;
	background: #43587d; color: #fff;
	font-size: 13px; text-transform: uppercase;
	border-radius: 3px; padding: 3px 12px;
}


/* event_box3 */
.event_box3{
	width: 300px; height: 564px;
	background: #d7567e;
	position: relative;
}
.event_box3 h4{
	font-size: 22px;
	padding: 40px 0;
}
.event_box3 .eb_slider2{}
.event_box3 .eb_slider2 .card{}
.event_box3 .eb_slider2 .card div{
	text-align: center;
}
.event_box3 .eb_slider2 .card div img{
	display: inline;
}

.event_box3 .slick-dots{
	padding-left: 5%;
}
.event_box3 .slick-dots li{
	display: inline-block; /* block요소-->inline-block 적용 시 정렬 가능 */
	margin-right: 10px;
}
.event_box3 .slick-dots li button{
	font-size: 0; line-height: 0; 
	display: inline-block;
	width: 10px; height: 10px; 
	background: rgba(255, 255, 255, 0.6);
	border: 0; border-radius: 50%;
}

/* 재생/정지버튼 */
.eb_slider2 .pagn_act{
	width: 8px; height: 8px;
	font-size: 0;
	position: absolute;
	left: 110px; top: 395px;
}
.eb_slider2 .pagn_act .btn_stop{
	display: none;
	width: 8px; height: 8px;
	background: url(../img/btn_banner_stop.png)no-repeat center;
}
.eb_slider2 .pagn_act.on .btn_stop{display: block;}
.eb_slider2 .pagn_act .btn_play{
	display: block;
	width: 8px; height: 8px;
	background: url(../img/btn_banner_play.png)no-repeat center
}
.eb_slider2 .pagn_act.on .btn_play{
	display: none;
}

.eb_slider2 p{
	font-size: 16px; padding: 35px 0 15px;
}
.eb_slider2 .es2_btn{
	background: #fff;
	padding: 10px 50px;
	font-size: 16px;
	display: inline-block;
	border-radius: 3px; 
}


/* cont2 */
/* life */
#life{position: relative; height: 330px;}
#life .life_menu{
	float: right; width: 50%; margin-top: 60px;
  position: relative; z-index: 20;
}
#life .life_menu ul{}
#life .life_menu ul li{float: left; width: 25%;}
#life .life_menu ul li a{
	display: block;
	width: 100px; height: 100px; background: #ddd;
	border-radius: 50%;
	text-align: center; line-height: 100px;
	transition: .3s;
}
#life .life_menu ul li a:hover{
	color: #fff; background: #cc3b63;
}

#life .life_style{position: relative; height: 100%;}
#life .life_style li{
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	transition: .3s;
}
#life .life_style li:nth-child(1){
	background: url(../img/mc_service_bg02.png)no-repeat;
}
#life .life_style li:nth-child(2){
	background: url(../img/mc_service_bg03.png)no-repeat;
}
#life .life_style li:nth-child(3){
	background: url(../img/mc_service_bg04.png)no-repeat;
}
#life .life_style li:nth-child(4){
	background: url(../img/mc_service_bg05.png)no-repeat;
}
#life .life_style li .text{}
#life .life_style li .text a{
	display: block;
	width: 50%; padding: 60px 0 0 30px;
	font-size: 50px;
}
#life .life_style li .text a em{
	font-size: 18px; color: #000;
	display: block; letter-spacing: 1px;
}

#life .life_btn{
	position: absolute;
	left: 0; bottom: 86px; width: 100%;
	background: #fff;
	text-align: center;
}
#life .life_btn ul{}
#life .life_btn ul li{
	position: relative; float: left; 
	width: 16.6666%;
}
#life .life_btn ul li::after{
	content: ""; width: 1px; height: 14px;
  background: #ccc; position: absolute; 
	left: 0; top: 18px;
}
#life .life_btn ul li:first-child::after{
	width: 0; height: 0;
}
#life .life_btn ul li a{
	font-size: 16px; color: #333;
	display: block; padding: 13px 10px;
}


/* app */
#app{}
#app .app_left{
	float: left;
	width: 49%; height: 200px;
	background: #fff url(../img/mc_service_banner01_img.jpg)no-repeat 50px 45px;
}
#app .app_left ul{padding: 45px 0 10px 290px;}
#app .app_left ul li{
	float: left; 
	width: 48px; height: 48px;
	margin-right: 20px;
	border: 1px solid #eaeaea; border-radius: 10px;
	/* overflow: hidden; */
}
#app .app_left ul li a{}
#app .app_left ul li a img{
	border-radius: 10px;
}

#app .app_left .al_text{
	font-size: 16px; color: #666;
	padding-left: 290px;
}
#app .app_left .al_text div{}
#app .app_left .al_text div a{}
#app .app_left .al_text div a strong{
	font-size: 20px; color: #000;
	line-height: 34px; display: block;
}

#app .app_right{
	float: right;
	width: 50%; height: 200px;
	background: #ddd;
}
#app .app_right>div{
	float: left;
	width: 25%; height: 70px; color: #fff;
	text-align: center; font-size: 16px; 
	padding-top: 130px;
}
#app .app_right .ar_ban1{
	background: #2f4359 url(../img/service_ban01.png)no-repeat 40px 50px;
}
#app .app_right .ar_ban2{
	background: #00907f url(../img/service_ban02.png)no-repeat center 50px;
}
#app .app_right .ar_ban3{
	background: #fff	url(../img/service_ban03.png)no-repeat 36px 57px;
	width: 50%; height: auto;
	padding: 20px 20px 18px;
	box-sizing: border-box;
}
#app .app_right .ar_ban3 .ban3_text{
	font-size: 15px; color: #666;
	border-bottom: 1px solid #ddd;
	padding: 20px 20px 30px 75px;
}
#app .app_right .ar_ban3 .ban3_text h5{
	font-size: 20px; color: #000;
	padding-bottom: 5px;
}
#app .app_right .ar_ban3 .ban3_slider{
	color: #000; font-size: 16px; padding-top: 10px;
}


/* ------footer------ */
/* notice */
.notice{}
.notice h3{
	float: left; font-size: 15px;
	margin-right: 30px;
}
.notice h3 i{
	display: inline-block;
	font-size: 10px; border: 1px solid #ccc;
	width: 8px; height: 8px; line-height: 8px;
	padding: 4px; vertical-align: 1px;
}
.notice ul{float: left;}
.notice ul li{
	float: left; width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 50px;
}
.notice ul li a{
	position: relative;
	font-size: 15px; color: #666;
	padding-left: 8px
}
.notice ul li a::before{
	position: absolute;
	content: "";
	width: 3px; height: 3px;
	background: #666;
	left: 0; top: 10px;
	border-radius: 50%;
}
.notice .notice_btn{
	position: absolute;
	right: 0; top: 17px;
	border: 1px solid #e6e6e6;
	line-height: 20px; padding: 7px 20px;
	font-size: 14px; border-radius: 3px;
}


/* info */
.info{}
.info a{color: #666;}
.info a:hover{color: #00907f;}

.info .f_nav{}
.info .f_nav ul{}
.info .f_nav ul li{
	display: inline-block;
	padding: 10px;
}
.info .f_nav ul li:first-child{padding-left: 0;}
.info .f_nav ul li a{font-size: 10px;}
.info .f_nav ul li a strong{color: #000; font-weight: bold;}
.info .f_nav ul li:hover a strong{color: #00907f;}

.info .f_address{font-size: 13px; line-height: 24px;}
.info .f_address span{padding-right: 15px;}

.info .f_icon{margin-top: 20px;}
.info .f_icon ul{}
.info .f_icon ul li{
	float: left;
	background: #ccc; margin-right: 15px;
	padding: 5px 15px 5px 50px;
}
.info .f_icon ul li.fi1{background: url(../img/mark01.png)no-repeat 0px 5px; padding-left: 45px;}
.info .f_icon ul li.fi2{background: url(../img/mark02.png)no-repeat 0px 5px;}
.info .f_icon ul li.fi3{background: url(../img/mark03.png)no-repeat 0px 5px;}
.info .f_icon ul li.fi4{background: url(../img/mark04.png)no-repeat 0px 5px; padding-left: 60px;}
.info .f_icon ul li.fi5{background: url(../img/mark05.png)no-repeat 0px 5px;}
.info .f_icon ul li a{}

.info .family_site{
	position: absolute;
	right: 0; top: 20px; font-size: 14px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	padding: 7px 20px;
}
.info .family_site a{}
.info .family_site a i{padding-left: 20px;}

.info .sns_icon{
	position: absolute;
	right: 0; top: 67px;
}
.info .sns_icon ul{}
.info .sns_icon ul li{display: inline;}
.info .sns_icon ul li a{}
.info .sns_icon ul li a img{}